.fs-7 {
	font-size: 0.8rem;
}

.mw-100 {
	max-width: 100px;
}
.mw-150 {
	max-width: 150px;
}
.mw-200 {
	max-width: 200px;
}
.mw-250 {
	max-width: 250px;
}
.mw-300 {
	max-width: 300px;
}
.mw-350 {
	max-width: 350px;
}
.mw-400 {
	max-width: 400px;
}
.mw-450 {
	max-width: 450px;
}
.mw-500 {
	max-width: 500px;
}

.minw-100 {
	min-width: 100px;
}
.minw-150 {
	min-width: 150px;
}
.minw-200 {
	min-width: 200px;
}
.minw-250 {
	min-width: 250px;
}
.minw-300 {
	min-width: 300px;
}
.minw-350 {
	min-width: 350px;
}
.minw-400 {
	min-width: 400px;
}
.minw-450 {
	min-width: 450px;
}
.minw-500 {
	min-width: 500px;
}
