.fs-7 {
	font-size: 0.8rem;
}

.mw-100 {
	max-width: 100px;
}
.mw-150 {
	max-width: 150px;
}
.mw-200 {
	max-width: 200px;
}
.mw-250 {
	max-width: 250px;
}
.mw-300 {
	max-width: 300px;
}
.mw-350 {
	max-width: 350px;
}
.mw-400 {
	max-width: 400px;
}
.mw-450 {
	max-width: 450px;
}
.mw-500 {
	max-width: 500px;
}
