// Override variables
$primary: #ab570a;
$light: #f4f4f4;
// $secondary: #900;

// Add custom theme colors - Order of import is important!
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
	'altlight-one': #900,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Override Bootstrap's font-family variables
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-base: $font-family-sans-serif;

@import 'bootstrap/scss/bootstrap';
// Merge the maps
